*{
    font-family: 'Roboto';
    margin: 0;
}
body{
    background-color: #E2EAFC
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.city{
    width: 80%;
    /* border-radius: 10px; */
    border: none
}
.weather{
    border: 1px solid #000;
    padding: 60px;
    border-radius: 15px;
}
.topPart{
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.topPartWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.ApplicationTitle{
    font-size: 35px;
    max-width: 438px;
    position: relative;
}
.ApplicationTitle::after{
    content: '';
    width: 52px;
    height: 52px;
    position: absolute;
    top: -5px;
    left: 327px;
    background-repeat: no-repeat;
    background-image: url(img/sun.svg);
    background-size: contain;
}
.ApplicationInput{
    width: 450px;
    height: 36px;
    padding-left: 20px;
    border-radius: 30px;
    border: 1px solid transparent;
    -webkit-box-shadow: 1px 0px 54px 1px rgba(34, 60, 80, 0.08) inset;
    -moz-box-shadow: 1px 0px 54px 1px rgba(34, 60, 80, 0.08) inset;
    box-shadow: 1px 0px 54px 1px rgba(34, 60, 80, 0.08) inset;
    background-color: #fff;
}
.inputWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
}
.search{
    background-image: url(img/lupa.svg);
    width: 53px;
    height: 37px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mainWrapper{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    position: relative;
    right: 0;
    transition: right .4s
}
.cardWeather{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    height: 320px;
    justify-content: center;
    border: 1px solid #fff;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 20px;
    position: relative;
    padding: 15px;
}
.cardWeather h2{
    font-size: 50px;
    min-width: 200px;
}
.cardWeather p{
    font-size: 35px;
}
.navigation{
    background-color: transparent;
    align-self: center;
    border:none;
    background-size: contain;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.left{
    background-image: url(img/left.svg);
    position: absolute;
    left: 15px;
    z-index: 99;
}
.right{
    background-image: url(img/right.png);
    position: absolute;
    right: 15px;
    z-index: 99;
}

.closeButton {
    top: 15px;
    right: 15px;
    background: transparent;
    font-size: 36px;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 15px;
    transition: color .3s, background .3s;
    border-radius: 40%;
}
.weather-img {
    margin: 15px 0;
    width: 105px;
}
.slider-container {
    position: relative;
    overflow: hidden;
}
.closeButton:hover {
    background-color: rgb(255, 129, 129);
    color: #fff;
}